body {
  font-size: 100;
  font-family: Montserrat, "open sans", Helvetica, Arial, sans-serif;
}

p {
  font-family: "Carrois Gothic", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: #2d2d2d;
}

/* TODO: size images manually so this is not necessary
img {
  max-height: 20rem;
}*/

/***************** NAV *****************/
nav a{
  color: white;
}

nav a:hover {
  text-decoration: underline;
  color: black;
}

.navigation {
  display: flex;
  justify-content: space-around;
  background: #3D7FCF;
  padding: 1rem;
}

@media (max-width: 680px) {
  nav ul {    flex-direction: column;
        }}
@media (max-width: 680px) {
  nav li {    display: block;
              width: 100%;
              text-align: center;  }}

/**************** HERO *****************/

header img {
  /*max-height: 6rem;*/
}

h1 .logo-w {
  font-size: 4.5rem;
  font-weight: bold;
}
.logo-color {
  color:#0066cc;
}

/**************** ASIDE ****************/
.signup {
  display:flex;
  padding: 1rem;
}

@media (max-width: 680px) {
  aside input {    display: block;
                  flex-direction: column;
        }}

input[type="submit"] {
  padding: .25rem;
  background-color: #3D7FCF;
  border: 1px solid #3D7FCF;
  border-radius: 5px;
  font-size: .75rem;
  color: white;
}

/*********** PRODUCTS SECTION ***********/
.item-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.item{
  padding: 1rem;
  width: 260px;
  height: auto;
  border: 1px black solid;
  margin: 1rem;
}

.item-image{
  padding-bottom: 2rem;
  margin: auto;
}

section {
  padding: 0 .75rem;
}

h2 {
  font-family: 'Allura', Helvetica, Arial, sans-serif;
  padding-top: 1.5rem;
  font-size: 400%;
  font-weight: bold;
  text-align: center;
  color: #2d2d2d;
}

h3 {
  font-family: 'Alfa Slab One', Helvetica, Arial, sans-serif;
  font-size: 120%;
  text-align: center;
  color: #2d2d2d;
}
